@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --paragraph-color: #000;
  --bg-white-color: #fff;
  --wheat-color: wheat;
  --section-bg-color: antiquewhite;
  --primary-border: 1px solid var(--wheat-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
section {
  width: 100%;
  background-color: var(--section-bg-color);
}
.section-container {
  width: 1080px;
  padding-inline: 20px;
  padding-block: 60px;
  margin: 0 auto;
}
.section-container .row.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.section-container .row h1 {
  text-align: center;
  font-size: 52px;
}
.section-container .row .bitContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 52px;
}
.section-container .row .bitContent p {
  font-size: 20px;
  font-weight: 500;
}
.section-container .row .bitContent p span {
  font-weight: 700;
}
.section-container .row .box {
  background-color: var(--bg-white-color);
  border-radius: 16px;
  border: var(--primary-border);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.section-container .row .box .text-content {
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin-top: 12px;
  width: 100%;
  max-width: 100%;
}
.section-container .row .box .text-content h2 {
  text-transform: capitalize;
  margin-bottom: 8px;
}
.section-container .row .box .btn-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 12px;
}
.section-container .row .box .btn-list a {
  color: var(--paragraph-color);
  padding: 8px 20px;
  border: var(--primary-border);
  border-radius: 6px;
  background: var(--section-bg-color);
}
.section-container .row .box .btn-list a:hover {
  background: var(--white-color);
  transform: translateY(-1px);
  box-shadow: 4px 20px 40px var(--wheat-color);
}
#cardParent div.skeleton-box {
  min-height: 357px;
  border-radius: 16px;
  background: linear-gradient(90deg, #ffffff 25%, #f3f3f3 50%, #ffffff 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}


/*Tablet Responsive*/
@media only screen and (max-width: 1119px) {
  .section-container .row .bitContent {
    flex-wrap: wrap;
  }
  .section-container {
    width: 100%;
  }
  .section-container .row.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Mobile Responsive*/
@media only screen and (max-width: 623px) {
  h1 {
    font-size: 2rem;
  }
  .section-container .row.grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
